.needleCard, .yarnCard {
  width: 200px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 30px;
}

.inventory {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #aba7a3 !important;
  margin-top: auto;
}

.yarnCard {
  .card-header {
    height: 80px;
  }
}
