.img-continue, .img-start {
  max-width: 100%;
  height: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// .img-start {
//   margin-left: 50px;
// }

// .img-continue {
//   margin-right: 50px;
// }

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.column h1 {
  color: white;
  margin: 5px;
}

.img-continue:hover, .img-start:hover {
  background-color: black;
  opacity: .75;
  transition: .4s ease;
}

.welcome {
  margin: 30px;
}

.question {
  margin-bottom: 30px;
}
